input[type="submit"] {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/***** ******/

html,
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Titillium Web', sans-serif;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: underline;
    color: #555;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
}

a:hover {
    color: #179b77;
}
