    /**** Footer ***/
    
    #imgReseaux {
        width: 280px;
        height: 40px;
    }
    
    .mainFooter {
        display: flex;
        justify-content: center;
        text-align: center;
        background: #fff;
        border: 0px;
        margin-top: 70px;
        border-top: 2px solid #ddd;
    }
    
    .mainFooter h1 {
        font-family: sans-serif;
        font-size: 1em;
    }
    /*** Home  **/
    
    .mainPanel {
        margin: 10px 50px 10px 50px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    
    .accueilPanel {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
    }
    
    .valeursBloc {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 850px;
    }
    
    .valeur,
    .valeurPic {
        width: 200px;
        height: 200px;
        background-size: cover;
    }
    
    .valeur:hover {
        opacity: 0.4;
    }
    
    .titreValeur:hover::before {
        font-size: 25px;
        text-align: center;
        display: block;
    }
    
    #valeur1 {
        background-image: url("#{resource['/images/Valeur1.png']}");
        background-image: url(../images/Valeur1.png);
    }
    
    #valeur2 {
        background-image: url("#{resource['/images/Valeur2.png']}");
        background-image: url(../images/Valeur2.png);
    }
    
    #valeur3 {
        background-image: url("#{resource['/images/Valeur3.png']}");
        background-image: url(../images/Valeur3.png);
    }
    
    #valeur4 {
        background-image: url("#{resource['/images/Valeur4.png']}");
        background-image: url(../images/Valeur4.png);
    }
    
    #valeur5 {
        background-image: url("#{resource['/images/Valeur5.png']}");
        background-image: url(../images/Valeur5.png);
    }
    
    #valeur6 {
        background-image: url("#{resource['/images/Valeur6.png']}");
        background-image: url(../images/Valeur6.png);
    }
    
    #valeur7 {
        background-image: url("#{resource['/images/Valeur7.png']}");
        background-image: url(../images/Valeur7.png);
    }
    
    #valeur8 {
        background-image: url("#{resource['/images/Valeur8.png']}");
        background-image: url(../images/Valeur8.png);
    }
    /********** Responsive ***********/
    
    @media screen and (max-width: 640px) {
        .valeursBloc {
            width: 430px;
        }
        .mainPanel {
            margin: 0;
        }
        #valeur1 {
            order: 1;
        }
        #valeur2 {
            order: 3;
        }
        #valeur3 {
            order: 4;
        }
        #valeur4 {
            order: 2;
        }
        #valeur5 {
            order: 6;
        }
        #valeur6 {
            order: 5;
        }
        #valeur7 {
            order: 7;
        }
        #valeur8 {
            order: 8;
        }
    }
    
    @media screen and (min-width: 1000px) {
        .mainPanel {
            margin-left: 200px;
            margin-right: 200px;
        }
    }
