.mainNavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 50px;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* Borders */
    border-bottom: 2px solid #ddd;
}

.userMainNavBar {
    position: absolute;
    top: 7px;
    left: 0;
}

.bellMainNavBar {
    position: absolute;
    top: 7px;
    left: 40px;
}



.userMainNavBar,
.bellMainNavBar {
    width: 40px;
    height: 40px;
    cursor: pointer;
    cursor: hand;
    text-align: center;
    margin: 0;
    border: 0;
}

.logoGLIcon {
    margin-right: 20px;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoGL {
    width: 35px;
    height: 35px;
    _background-image: url('../images/gl_logo1.png');
    background-image: url("#{resource['images:gl_logo1.png']}");
    background-size: cover;
}

.basketMainNavBar {
    position: absolute;
    right: 0;
    width: 40px;
}

.searchBar {
    height: 40px;
    width: 40%;
    min-width: 220px;
    max-width: 300px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.textFieldMainNavBar {
    flex-grow: 1;
    background: #fff;
    border: 0;
}

.magnifierMainNavBar {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}

.moreMainNavBar {
    box-sizing: border-box;
    width: 25px;
    height: 40px;
}

.basketPanel {
    display: none;
    box-sizing: border-box;
    height: 300px;
    width: 200px;
    /* 0 width - change this with JavaScript */
    z-index: 1;
    /* Stay on top */
    position: fixed;
    top: 60px;
    right: 0px;
    background-color: #fff;
    /* White */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/***** ***/

@media screen and (max-width: 450px) {
    .mainNavBar {
        height: 35px;
        margin: 1px;
        padding: 1px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .userMainNavBar,
    .bellMainNavBar,
    .logoGLIcon,
    .basketMainNavBar {
        position: relative;
        top: 1px;
        left: 0;
        width: 35px;
        height: 35px;
        margin: 0;
    }
    .logoGLIcon {
        margin-left: 3px;
        margin-right: 3px;
    }
    .logoGL {
        width: 30px;
        height: 30px;
    }
    .searchBar {
        flex-grow: 1;
        margin: 0 5px 0 5px;
        min-width: 100px;
    }
    .textFieldMainNavBar {
        width: 100%;
    }
    .magnifierMainNavBar {
        box-sizing: border-box;
        width: 35px;
        height: 35px;
    }
    .moreMainNavBar {
        box-sizing: border-box;
        width: 25px;
        height: 40px;
    }
}
