/**********************/


/**** Normalisation ***/


/**********************/

.pageTitleBloc {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pageTitleIcon,
.pageTitle, .pageSubTitle {
    color: #fff;
    background-color: #888;
    border-radius: 5px;
}

.pageTitleIcon {
    margin: 10px;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pageTitle {
    margin-right: 10px;
    padding: 10px 20px;
    height: 50px;
    font-size: 25px;
    flex-grow: 1;
}

.pageSubTitle {
    margin: 0 0 10px 0;
    padding: 10px 10px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    flex-grow: 1;
    text-align: center;
}

.gestionBloc {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 10px;
    width: 90%;
}


.userAvatar {
    width: 60px;
    height: 60px;
}

.flecheMessage{
    content: url('../images/turn-right.svg');
    _content: url("#{resource['images:turn-right.svg']}");
    width: 20px;
    height: 20px;
}

 @keyframes fa-blink {
  50% { opacity: 0; }
 }
.fa-blink {
   -webkit-animation: fa-blink 2s linear infinite;
   -moz-animation: fa-blink 2s linear infinite;
   -ms-animation: fa-blink 2s linear infinite;
   -o-animation: fa-blink 2s linear infinite;
   animation: fa-blink 2s linear infinite;
}


/* .roundedTwo */
.roundedTwo {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.roundedTwo label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.roundedTwo label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.roundedTwo label:hover::after {
  opacity: 0.3;
}
.roundedTwo input[type=checkbox] {
  visibility: hidden;
}
.roundedTwo input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* end .roundedTwo */

/******* ******/


.sectionBloc,
.oneRowBloc,
.oneColonneBloc {
    display: flex;
    align-items: center;
    _margin: 20px;
    justify-content: space-around;
}

.oneRowBloc {
    flex-wrap: nowrap;
    _margin: 10px;
}

.oneColBloc {
    flex-direction: column;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.grow {
    flex-grow: 1;
}

.versusBloc {
    display: flex;
    width: 100%;
    margin: 0;
}

.versusBloc div {
    width: 50%;
}

.versusBloc div div {
    width: 90%;
}


.hidden {
    display: none;
}

.normalIcon {
    font-size: 30px;
    color: #bbb;
    margin: 5px;
}

.smallIcon {
    font-size: 22px;
    color: #333;
    margin: 2px;
}

.bigIcon {}


/*****************************************************/


/********* Guideline / Classes de Base ***************/


/*****************************************************/

/* A appliquer sur les titres et les boutons (et autres éléments disctinctifs) des pages selon leur fonctionnalité */

.objetItem {
    background-color: #1ab188;
}

.souhaitItem {
    background-color: coral;
}

.panierItem{    
    background-color: cornflowerblue;
}

.userItem {
    background-color: cadetblue;
}

.echangeItem {
    background-color: darkcyan;
}

.supportItem {
    background-color: darksalmon;
}

.adminItem {
    /* concerne les tickets admins */
    background-color: burlywood;
}

.searchItem {
    background-color: lightgrey;
    color: #333;
}

.longButton {
     width: 110px;
    height: 25px;
    border: 0;
    border-radius: 3px;
    font-size: 13px;
    color: white;
    margin: 10px;
}


/************* ***********/

@media screen and (max-width: 640px) {
    .gestionBloc {
        flex-direction: column;
    }
}
