/************ Gestion Objets Main *************/

.gestionBloc {
    width: 100%;
    justify-content: center;
    margin: 0 5px 0 30px;
    padding-right: 20px;
}

.gestionObjetsBloc {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.addButtonBloc {
    width: 4Spx;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 2px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.addIcon,
.addBasketIcon {
    color: #fff;
    background-color: #666;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    /* Do not set top / left! */
}

.addBasketIcon span,
.addIcon span {
    text-align: center;
    font-size: 35px;
}


/************ Resultats Main *************/

.resultatsBloc {
    display: flex;
    width: 95%;
    align-items: stretch;
    margin: 5px 0 0 0;
    min-height: 600px;
}

.searchOptionsBar{    
    padding: 15px 28px 0 15px;
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.searchOptionsBar div{
    width: 50%;
}

.searchOptionsBar select{
    font-size: 15px;
}

.nbResults span{
    width: 100%;
    text-align: left;
}

.orderResults{
    text-align: right;
}


/************ Google Maps *************/

.gMapBloc {
    margin: 10px 0 10px 0;
    flex-grow: 1;
}


/************ Objets *************/

.objetsBlocSans {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.objetArticle,
.objetArticleSans {
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    position: relative;
}

.infosObjet {}

.numObjet {
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    background-color: #FA8072;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addBasketIcon {
    position: absolute;
    top: 5px;
    right: 5px;
}

.letter {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.imageDiv {
    width: 100%;
    height: 235px;
    padding: 30px 30px 20px 30px;
}

.imageObjet {
    width: 185px;
    height: 185px;
    background-image: url("#{resource['images/objet1.png']}");
    _background-image: url(../images/objet1.png);
    background-size: cover;
}

.imageObjetMin {
    display: none;
    background-image: url("#{resource['images/objet1.png']}");
    _background-image: url(../images/objet1.png);
    background-size: cover;
}

.titleObjet,
.dateObjet {
    text-align: center;
    flex-grow: 1;
}

.objetIconeBloc {
    width: 100%;
}

.objetIconeBloc ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.objetIconeBloc ul li {
    margin: 2px;
    flex-grow: 1;
    padding: 5px;
    flex-grow: 1;
    font-size: 25px;
    color: #444;
    text-align: center;
}

.catObjet {
    color: #fff;
    background-color: cadetblue;
    border-radius: 5px;
    padding: 5px;
}

.objetIconeText {
    font-size: 20px;
}


/********* Page Ajout Objet ***********/

.ajoutObjetForm {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.criteresBloc {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 0 5px 0;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.criteresBloc>ul {
    width: 100%;
    margin: 10px;
}

.criteresBloc>ul>li>ul {
    display: flex;
}

.domainIcon {
    width: 30px;
    height: 30px;
    font-size: 25px;
}

.dropDownListCat,
.floconIcon {
    flex-grow: 1;
    font-size: 18px;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #555;
}

.floconIcon {
    margin-bottom: 35px;
    border: 0;
}

.valeurInput {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}

.catBloc li,
.catBloc li ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 5px 0;
}

.catTitle {
    margin: 5px 10px 0 5px;
}

.ageCat {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.ageCat ul li {
    margin: 5px;
}

.domainIconBloc li {
    margin: 0 5px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catTitle {
    align-self: flex-start;
}

.descriptionInput {}

.descriptionInput div,
.libelleInput div,
.valeurInput div {
    width: 100%;
}

.descriptionInput textarea {
    height: 160px;
}

.descriptionInput div label.active {
    -webkit-transform: translateY(165px);
    transform: translateY(165px);
    left: 2px;
    font-size: 14px;
}

.photosBloc {
    width: 98%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.photosConteneur,
.listeConteneur {
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.photosConteneur>div{    
    width: 100%;
}

.photoItem,
.addIconBloc {
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addIconBloc {
    background-color: #eee;
}

.boutonsBloc {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.pageBouton {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageBouton div,
.pageBouton span,
.pageBouton input{
    margin: 2px;
    height: 35px;
    padding: 5px 20px 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}

.listeConteneur {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 10px 10px 0px 10px;
}

.listeConteneur div {
    width: 100%;
    display: flex;
}

.ajoutSouhaitBouton {
    margin-top: 0;
    height: 40px;
}

.listeTab {
    margin-bottom: 5px;
}


/******* Responsive **********/

@media screen and (max-width: 640px) {
    .addButtonBloc {
        width: 100%;
        margin-right: 10px;
    }
}

@media screen and (max-width: 640px) {
    .criteresBloc {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2px 0 20px 0;
        width: 98%;
    }
    .criteresBloc>ul {
        margin: 0;
    }
    .catBloc {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    /***** Page Ajout Objet *****/
    .criteresBloc {
        margin: 2px 0 20px 0;
    }
    .pageBouton {
        margin-left: 10px;
        font-size: 18px;
    }
    .pageBouton div,
    .pageBouton span {
        height: 30px;
    }
    /***** Page Resultats ****/
    .resultatsBloc {
        margin: 10px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 500px;
    }
    .gMapBloc {
        width: 100%;
        max-height: 350px;
        order: 0;
    }
    /************ Objets *************/
    .objetsBlocSans {
        flex-flow: column nowrap;
    }
    .objetsBloc {
        width: 100%;
    }
    .objetArticle {
        position: relative;
        min-width: 320px;
        padding: 5px;
        margin: 5px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }
    .objetsBloc .infosObjet {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;
    }
    .objetsBloc .numObjet {
        margin: 0;
        top: 2px;
        left: 2px;
        font-size: 20px;
        flex-direction: column;
    }
    .addBasketIcon {
        top: 3px;
        right: 3px;
    }
    .objetsBloc .numObjet,
    .objetsBloc.addBasketIcon{        
        width: 40px;
        height: 40px;
    }
    .objetsBloc .addBasketIcon span {
        font-size: 20px;
    }
    .letter {}
    .objetsBloc .imageDiv {
        width: 70px;
        height: 85px;
        padding: 0;
        margin: 6px 0 0 5px;
    }
    .objetsBloc .imageObjet {
        width: 100%;
        height: 100%;
    }
    .objetsBloc .titleObjet {
        text-align: center;
        flex-grow: 1;
    }
    .objetsBloc .objetIconeBloc {
        width: 100%;
    }
    .objetsBloc .objetIconeBloc ul {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .objetsBloc .objetIconeBloc ul li {
        margin: 2px;
        flex-grow: 1;
        padding: 1px;
        flex-grow: 1;
        font-size: 25px;
        color: #444;
    }
    .objetsBloc .catObjet {
        color: #fff;
        background-color: cadetblue;
        border-radius: 5px;
        padding: 5px;
    }
    .objetsBloc .objetIconeText {
        font-size: 15px;
    }
    .gestionObjetsBloc {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .addButtonBloc {
        height: 40px;
        width: 340px;
    }
    .gestionBloc {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}
