/**********************/
/*** Utilitaires ***/
/**********************/

.endFloat{
    clear: both;
}

.active {
    display: block;
}

/***** Test ****/

.hidden {
    display: none;
}
